db.url=jdbc:mysql://localhost:3306/taskflow?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
db.username=root
db.password=password
app.jwt.secret=TaskFlowSecretKeyForCollegeProjectEvaluation2026 
